<mat-card class="bg-light">
    <div class="bootstrap-wrapper">
        <div class="container" >
            <div class="row ">
                <div class="col-md-11">
                    <mat-card class="text-center">                 
    Payroll Manager          
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</mat-card>
<br>
<!--{{payslip | json}}-->
<div id="print-section">
<table mat-table class="table mat-elevation-z8" >
    <tr>
        <td style="font-weight: 550; font-size:larger;" colspan="2" align="center" >Employee Payslip</td>
    </tr>
    <tr>
        <td colspan="2"><hr></td>
    </tr>
    <tr>
        <td style="font-weight: 500; font-size:small;" colspan="2" align="center" >Period: Month of {{month}}</td>
    </tr>
    <br>
    <tr>
        <td>Name :        {{login.getUser().firstName}} {{login.getUser().lastName}}</td>
        <td>Date: {{dateTime}}</td>
    </tr>
    <tr>
        <td>Designation : {{payslip.designation}}</td>
        <td>Time: {{nowtime}}</td>
    </tr>
    <br>
    <tr>
        <td colspan="2"><hr></td>
    </tr>
    <br>
    <tr>
        <td colspan="2" align="center" style="font-weight: 500;">Payroll Details</td>
    </tr>
    <br>
    <tr>
        <td class="td">
            <table class="table">
                <tr>    
                    <td style="font-weight: 250;" colspan="2" align="center" >Salary Details</td>
                </tr>
                <br>
                <tr >
                    <td colspan="2"><hr></td>
                </tr>
                <tr>
                    <td>Basic</td>
                    <td>{{getBasic(payslip.basic)}}</td>
                </tr>
                <tr>
                    <td>DA</td>
                    <td>{{getDA()}}</td>
                </tr>
                <tr>
                    <td>HRA</td>
                    <td>{{getHRA()}}</td>
                </tr>
                <tr>
                    <td>Travelling Allowance</td>
                    <td>{{getTravel()}}</td>
                </tr>
                <tr>
                    <td>Medical Allowance</td>
                    <td>{{getMedical()}}</td>
                </tr>
                </table>
        </td>
        <td class="td">
            <table class="table">
                <tr>
                    <td style="font-weight: 250;" colspan="2" align="center" >Leave Details</td>
                </tr>
                <br>
                <tr >
                    <td colspan="2"><hr></td>
                </tr>
                <tr>
                    <td >Number of leaves </td>
                    <td>{{getLeaves(payslip.leavesTaken)}}</td>
                </tr>
                <tr>
                    <td>Deduction per Leave </td>
                    <td>{{getDeducePerLeave(payslip.deduction)}}</td>
                </tr>
                <tr>
                    <td><br></td>
                    <td></td>
                </tr>
                <tr>
                    <td><br></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Total Deduction</td>
                    <td>{{getDeduction()}}</td>
                </tr>
                
                </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
        <table class="table">
            <tr>
                <td><br></td>
                <td></td>
            </tr>
            <tr>
                <td>Gross Salary</td>
                <td>: {{getGross()}}</td>
            </tr>
            <br>
            <tr>
                <td>Net Salary</td>
                <td>: {{getNet()}}</td>
            </tr>
        </table>
    </td>
    </tr>

</table>
</div>
<div style="text-align: center;">
    <button mat-raised-button color="primary"
    styleSheetFile="src\assets\payslipCSS\payslip.css"
    printSectionId="print-section"
    ngxPrint
    >Print</button>
</div>