<mat-card class="bg-light" >
    <div class="bootstrap-wrapper">
        <div class="container" >
            <div class="row ">
                <div class="col-md-11">
                    <mat-card class="text-center">                 
    Payroll Manager           
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</mat-card>
<!--{{payrolls|json}}-->
<mat-card class="bg-light">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
               <!--   {{leaves | json}} -->  
                    <table class="table-width table-pad table th" >
                        <tr >
                            <th>ID</th>
                            <th>Designation</th>
                            <th>Basic Salary</th>
                            <th>Deduction Per Leave</th>
                            <th>Action</th>
                        </tr>
                        <tr *ngFor="let payroll of payrolls" class="text-center td-bottom" style="height: 20px;">
                            <td>{{payroll.pid}}</td>
                            <td>{{payroll.designation}}</td>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-label></mat-label>
                                    <input matInput 
                                    [(ngModel)]="payroll.basic"
                                    placeholder="{{payroll.basic}}" >
                    </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-label></mat-label>
                                    <input matInput 
                                    [(ngModel)]="payroll.deducePerLeave"
                                    placeholder="{{payroll.deducePerLeave}}" >
                    </mat-form-field>
                            </td>
                            <td>
                                <button mat-raised-button color="warn"
                                (click)="updatePayrolls(payroll)"
                                >Update</button>
                            </td>
                        </tr>
                    </table>
                    

                    
            </div>
        </div>
    </div>
</mat-card>