<mat-card class="bg-light">
    <div class="bootstrap-wrapper">
        <div class="container" >
            <div class="row ">
                <div class="col-md-11">
                    <mat-card class="text-center">                 
    Leave Manager          
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</mat-card>

<mat-card>
    <mat-card-title>Request Leave</mat-card-title>
    <mat-card-actions style="text-align:end;">
      <button mat-button 
      routerLink="/user/request-leave"
      >
      <mat-icon mat-list-icon >navigate_next</mat-icon>
    </button>
    </mat-card-actions>
  </mat-card>
  <br>

  <mat-card>
    <mat-card-title>Leave Status</mat-card-title>
    <mat-card-actions style="text-align:end;">
      <button mat-button 
      routerLink="/user/leave-status"
      >
      <mat-icon mat-list-icon >navigate_next</mat-icon>
    </button>
    </mat-card-actions>
  </mat-card>
  <br>


  <mat-card>
    <mat-card-title>Leave Chart</mat-card-title>
    <mat-card-actions style="text-align:end;">
      <button mat-button 
      routerLink="/user/leave-chart"
      >
      <mat-icon mat-list-icon >navigate_next</mat-icon>
    </button>
    </mat-card-actions>
  </mat-card>

