<mat-card class="bg-light">
    <div class="bootstrap-wrapper">
        <div class="container" >
            <div class="row ">
                <div class="col-md-11">
                    <mat-card class="text-center">                 
    Request Leave          
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</mat-card>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
           
            <div class="col-md-6 offset-md-3">
                <mat-card class="text-center mt10">
                <table class="table-width table-pad table th">
                    <tr class="text-center td-bottom" >
                        <td>User ID</td>
                        <td>{{login.getUser().id}}</td>
                    </tr>
                    <tr class="text-center td-bottom" >
                        <td>Approved Leaves</td>
                        <td>{{leaveCount}}</td>
                    </tr>
                    <tr class="text-center td-bottom" >
                        <td>Remaining Leave</td>
                        <td>{{getTotal() - leaveCount}}</td>
                    </tr>
                </table>
                <form (ngSubmit)="formSubmit()">
                   <!-- Uid
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User ID</mat-label>
                        <input 
                        required
                        [(ngModel)]="login.getUser().id"
                        name="user_id"
                        matInput placeholder="login.getUser().id" disabled>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Accepted Leaves</mat-label>
                        <input 
                        required
                        [(ngModel)]="leaveCount"
                        name="leaveCount"
                        matInput placeholder="leaveCount" disabled>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                    -->
                    <br>
                    <mat-form-field class="col-md-6 offset-md-0" appearance="fill">
                        <mat-label>Leave Description</mat-label>
                        <textarea maxlength="100" 
                        type="text"
                        required
                        [(ngModel)]="leave.leaveDescription"
                        name="leave.leaveDescription"
                        matInput placeholder="Reason for leave">
                        </textarea>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input 
                        type="date"
                        min="{{minDate}}"
                        max="{{lastDayOfMonth}}"
                        required
                        [(ngModel)]="leave.startDate"
                        name="leave.startDate"
                        matInput placeholder="" >
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input 
                        type="date"
                        [disabled]="!leave.startDate"
                        min="{{leave.startDate}}"
                        max="{{lastDayOfMonth}}"
                        required
                        [(ngModel)]="leave.endDate"
                        name="leave.endDate"
                        matInput placeholder="" >
                    </mat-form-field>
                    <br>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Number of Leaves</mat-label>
                        <input 
                        type="number"
                        required
                        [(ngModel)]="leave.numberOfLeave" (ngModelChange)=dateDifference(leave.endDate,leave.startDate)
                        name="leave.numberOfLeave"
                        matInput placeholder="" 
                        disabled>
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Procced</button>
                    </div>
                </form>
                </mat-card>
            </div>
            
        </div>
    </div>
</div>