<mat-card class="bg-light">
    <div class="bootstrap-wrapper">
        <div class="container" >
            <div class="row ">
                <div class="col-md-11">
                    <mat-card class="text-center">                 
    Leave Status           
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</mat-card>
<mat-card class="bg-light">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                    
                    <table class="table-width table-pad table th" >
                        <tr >
                            <th>Leave ID</th>
                            <th style="width:300px ">Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Number Of Leaves</th>
                            <th>Status Of Leave</th>
                        </tr>
                        <tr *ngFor="let leave of leaves" class="text-center td-bottom" style="height: 20px;">
                            <td>{{leave.lid}}</td>
                            <td>{{leave.leaveDescription}}</td>
                            <td>{{leave.startDate}}</td>
                            <td>{{leave.endDate}}</td>
                            <td>{{leave.numberOfLeave}}</td>
                            <td>{{leave.leaveStatus}}</td>
                            
                        </tr>
                    </table>

                    
            </div>
        </div>
    </div>
</mat-card>